= f.error_messages

%div.form-option
  %h2= f.label :subject 
  %div= f.text_field :subject, :size => 50, :class => "big" 

%h2= f.label :body 
%p.note-box
  %strong Tips:
  %br
  You can insert the person's name by typing 
  %strong #NAME#
  , or their email address by typing 
  %strong #EMAIL#.
  %br
  An unsubscribe link will automatically be provided to the recipient in the footer of the email.
.options
  - unless @newsletter.images.empty?
    - images = @newsletter.images
    %h3 Image Options
    %p
      You can display photos by simply selecting one below, copying the generated text and pasting it where you want it to appear.
    = link_to("#{icon('Picture')} Add Images", "#images", :class => "fancy")
    %br

    <input id="image"></input>
    %br
    #image-note Copy and paste the above text where you would like the image(s) to appear on the page.

    #images{:style => "display: none;"}
      - unless images.empty?
        %ul#image-list
          - for image in images.sort_by(&:position)
            %li
              = image_tag(image.image.url(:small), :alt => image.caption, :title => image.title)
              %h2
                = image.title
              = link_to("Small", "#", :onclick => "addtext('\#small_image:#{image.id}\#')")
              = link_to("Medium", "#", :onclick => "addtext('\#medium_image:#{image.id}\#')")
              = link_to("Large", "#", :onclick => "addtext('\#large_image:#{image.id}\#')")
        = clear



    - content_for :head do
      %script{:type => "text/javascript"}
        function addtext(text) {
        document.getElementById('image').value = text;
        document.getElementById('image').style.display = 'inline';
        document.getElementById('image-note').style.display = 'block';
        document.getElementById('image').focus();
        document.getElementById('image').select();
        }
      %style{:type => "text/css"}
        div#fancy_div { background: #fff; }
        div#fancy_div ul#image-list { margin: 0; padding: 0; height: 350px; overflow: auto; }
        div#fancy_div ul#image-list li { float: left; margin: 0 5px 5px 0; font-size: .8em; padding: 5px; border: 1px solid #ccc; text-align: center; height: 115px; width: 85px; }
        div#fancy_div h2 { margin: 0 0 4px; font-family: tahoma, arial, sans-serif; font-size: 1em; color: #000; font-weight: normal; color: #999; height: 26px; overflow: hidden; }
        div#fancy_div a { color: #336699; text-decoration: none; }
        div#fancy_div a:hover { background: #336699; color: #fff; }
        input#image { display: none; width: 200px; }
        div#image-note { display: none; font-size: .75em; line-height: 1.3em; color: #999; }
%div
  = f.text_area :body, :size => "100x40", :class => "mceEditor" 
  %br

%div
  = submit_tag "Save newsletter"  
  or
  = link_to "cancel", admin_newsletters_path 
  = clear
