- content_for(:title) { concat "Newsletters" }

%h1= yield :title 

%p.icon
  = icon "Plus", new_admin_newsletter_path
  = link_to "Create a new newsletter", new_admin_newsletter_path

  = icon "Write", new_admin_person_group_path
  = link_to "Groups", admin_person_groups_path
  
  = icon 'Wait', admin_emails_path
  = link_to "View email queue", admin_emails_path
  
  = icon "Gear", edit_admin_setting_path
  = link_to "Newsletter settings", edit_admin_setting_path(:anchor => 'Newsletter')

- unless @newsletters.empty?
  %table.full_width
    %tr
      %th Subject
      %th Images
      %th.center Blasts
      %th Last Sent
      %th
    %tr
    - @newsletters.each do |newsletter|
      %tr
        %td
          = icon("Write", edit_admin_newsletter_path(newsletter))
          = link_to newsletter.subject, edit_admin_newsletter_path(newsletter)
        %td
          = icon "Plus", new_admin_newsletter_image_path(newsletter)        
          = newsletter.images_count
        %td.center
          = link_to 'Blasts', [:admin, newsletter, :newsletter_blasts]
        %td
          = newsletter.newsletter_blasts.empty? ? 'not sent yet' : newsletter.last_blast_time
        %td
          = link_to "Send this newsletter", new_admin_newsletter_newsletter_blast_path(newsletter)
        = clear

-unless @latest_blasts.empty?
  %h2 Latest Blasts for all newsletters 
  %table.full_width
    %tr
      %th Newsletter
      %th.center Recipients
      %th Sent
      %th
    %tr
    - @latest_blasts.each do |blast|
      %tr
        %td
          = icon("Write", edit_admin_newsletter_path(blast.newsletter))
          = link_to blast.newsletter.subject, edit_admin_newsletter_path(blast.newsletter)
        %td.center
          = blast.recipient_count.to_s
        %td
          = blast.created_at.to_s(:long_ordinal)
        = clear
  
  
